.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  0% {
    opacity: 1;
    transform: translate3d(24vw, 70vh, 61px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(100vw, 51vh, 44px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 45s infinite;
  opacity: 0.84;
  height: 51px;
  width: 51px;
  animation-delay: -0.2s;
  transform: translate3d(41vw, 85vh, 14px);
  background: hsl(7, 0%, 75%);
}

@keyframes particle-animation-2 {
  0% {
    opacity: 1;
    transform: translate3d(6vw, 92vh, 80px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(47vw, 95vh, 5px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 45s infinite;
  opacity: 0.14;
  height: 52px;
  width: 52px;
  animation-delay: -0.4s;
  transform: translate3d(42vw, 31vh, 58px);
  background: hsl(168, 0%, 75%);
}

@keyframes particle-animation-3 {
  0% {
    opacity: 1;
    transform: translate3d(22vw, 36vh, 76px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(19vw, 37vh, 61px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 45s infinite;
  opacity: 0.55;
  height: 51px;
  width: 51px;
  animation-delay: -0.6s;
  transform: translate3d(93vw, 64vh, 86px);
  background: hsl(331, 0%, 75%);
}

@keyframes particle-animation-4 {
  0% {
    opacity: 1;
    transform: translate3d(52vw, 37vh, 84px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(1vw, 30vh, 53px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 45s infinite;
  opacity: 0.07;
  height: 55px;
  width: 55px;
  animation-delay: -0.8s;
  transform: translate3d(21vw, 87vh, 48px);
  background: hsl(234, 0%, 75%);
}

@keyframes particle-animation-5 {
  0% {
    opacity: 1;
    transform: translate3d(27vw, 42vh, 98px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(46vw, 62vh, 96px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 45s infinite;
  opacity: 0.95;
  height: 52px;
  width: 52px;
  animation-delay: -1s;
  transform: translate3d(95vw, 64vh, 94px);
  background: hsl(323, 0%, 75%);
}

@keyframes particle-animation-6 {
  0% {
    opacity: 1;
    transform: translate3d(100vw, 99vh, 70px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(61vw, 84vh, 75px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 45s infinite;
  opacity: 0.29;
  height: 55px;
  width: 55px;
  animation-delay: -1.2s;
  transform: translate3d(88vw, 32vh, 76px);
  background: hsl(290, 0%, 75%);
}

@keyframes particle-animation-7 {
  0% {
    opacity: 1;
    transform: translate3d(74vw, 77vh, 18px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(69vw, 49vh, 75px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 45s infinite;
  opacity: 0.99;
  height: 55px;
  width: 55px;
  animation-delay: -1.4s;
  transform: translate3d(46vw, 32vh, 42px);
  background: hsl(129, 0%, 75%);
}

@keyframes particle-animation-8 {
  0% {
    opacity: 1;
    transform: translate3d(15vw, 86vh, 78px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(97vw, 98vh, 88px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 45s infinite;
  opacity: 0.84;
  height: 52px;
  width: 52px;
  animation-delay: -1.6s;
  transform: translate3d(62vw, 23vh, 36px);
  background: hsl(251, 0%, 75%);
}

@keyframes particle-animation-9 {
  0% {
    opacity: 1;
    transform: translate3d(56vw, 96vh, 6px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(75vw, 67vh, 21px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 45s infinite;
  opacity: 0.45;
  height: 52px;
  width: 52px;
  animation-delay: -1.8s;
  transform: translate3d(17vw, 99vh, 52px);
  background: hsl(316, 0%, 75%);
}

@keyframes particle-animation-10 {
  0% {
    opacity: 1;
    transform: translate3d(98vw, 30vh, 13px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(76vw, 94vh, 78px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 45s infinite;
  opacity: 0.68;
  height: 52px;
  width: 52px;
  animation-delay: -2s;
  transform: translate3d(13vw, 96vh, 6px);
  background: hsl(133, 0%, 75%);
}

@keyframes particle-animation-11 {
  0% {
    opacity: 1;
    transform: translate3d(73vw, 49vh, 42px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(31vw, 90vh, 100px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 45s infinite;
  opacity: 0.34;
  height: 55px;
  width: 55px;
  animation-delay: -2.2s;
  transform: translate3d(85vw, 48vh, 80px);
  background: hsl(39, 0%, 75%);
}

@keyframes particle-animation-12 {
  0% {
    opacity: 1;
    transform: translate3d(43vw, 84vh, 84px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(55vw, 42vh, 52px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 45s infinite;
  opacity: 0.56;
  height: 54px;
  width: 54px;
  animation-delay: -2.4s;
  transform: translate3d(86vw, 81vh, 45px);
  background: hsl(327, 0%, 75%);
}

@keyframes particle-animation-13 {
  0% {
    opacity: 1;
    transform: translate3d(86vw, 29vh, 20px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(82vw, 49vh, 62px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 45s infinite;
  opacity: 0.08;
  height: 52px;
  width: 52px;
  animation-delay: -2.6s;
  transform: translate3d(48vw, 40vh, 12px);
  background: hsl(167, 0%, 75%);
}

@keyframes particle-animation-14 {
  0% {
    opacity: 1;
    transform: translate3d(42vw, 74vh, 15px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(78vw, 17vh, 89px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 45s infinite;
  opacity: 0.46;
  height: 55px;
  width: 55px;
  animation-delay: -2.8s;
  transform: translate3d(70vw, 95vh, 62px);
  background: hsl(94, 0%, 75%);
}

@keyframes particle-animation-15 {
  0% {
    opacity: 1;
    transform: translate3d(63vw, 74vh, 16px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(26vw, 11vh, 73px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 45s infinite;
  opacity: 0.18;
  height: 53px;
  width: 53px;
  animation-delay: -3s;
  transform: translate3d(90vw, 26vh, 24px);
  background: hsl(336, 0%, 75%);
}

@keyframes particle-animation-16 {
  0% {
    opacity: 1;
    transform: translate3d(23vw, 92vh, 62px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(41vw, 90vh, 60px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 45s infinite;
  opacity: 0.06;
  height: 54px;
  width: 54px;
  animation-delay: -3.2s;
  transform: translate3d(64vw, 80vh, 88px);
  background: hsl(203, 0%, 75%);
}

@keyframes particle-animation-17 {
  0% {
    opacity: 1;
    transform: translate3d(70vw, 33vh, 40px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(54vw, 78vh, 67px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 45s infinite;
  opacity: 0.59;
  height: 55px;
  width: 55px;
  animation-delay: -3.4s;
  transform: translate3d(68vw, 79vh, 66px);
  background: hsl(308, 0%, 75%);
}

@keyframes particle-animation-18 {
  0% {
    opacity: 1;
    transform: translate3d(13vw, 23vh, 37px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(2vw, 53vh, 15px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 45s infinite;
  opacity: 0.37;
  height: 51px;
  width: 51px;
  animation-delay: -3.6s;
  transform: translate3d(95vw, 30vh, 61px);
  background: hsl(318, 0%, 75%);
}

@keyframes particle-animation-19 {
  0% {
    opacity: 1;
    transform: translate3d(71vw, 99vh, 24px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(95vw, 100vh, 43px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 45s infinite;
  opacity: 0.14;
  height: 53px;
  width: 53px;
  animation-delay: -3.8s;
  transform: translate3d(21vw, 7vh, 62px);
  background: hsl(246, 0%, 75%);
}

@keyframes particle-animation-20 {
  0% {
    opacity: 1;
    transform: translate3d(94vw, 98vh, 63px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(60vw, 75vh, 52px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 45s infinite;
  opacity: 0.29;
  height: 52px;
  width: 52px;
  animation-delay: -4s;
  transform: translate3d(9vw, 24vh, 49px);
  background: hsl(242, 0%, 75%);
}

@keyframes particle-animation-21 {
  0% {
    opacity: 1;
    transform: translate3d(85vw, 79vh, 94px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(11vw, 83vh, 36px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 45s infinite;
  opacity: 0.44;
  height: 55px;
  width: 55px;
  animation-delay: -4.2s;
  transform: translate3d(79vw, 94vh, 25px);
  background: hsl(267, 0%, 75%);
}

@keyframes particle-animation-22 {
  0% {
    opacity: 1;
    transform: translate3d(92vw, 81vh, 29px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(84vw, 69vh, 55px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 45s infinite;
  opacity: 0.89;
  height: 53px;
  width: 53px;
  animation-delay: -4.4s;
  transform: translate3d(86vw, 34vh, 24px);
  background: hsl(212, 0%, 75%);
}

@keyframes particle-animation-23 {
  0% {
    opacity: 1;
    transform: translate3d(40vw, 16vh, 59px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(59vw, 93vh, 45px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 45s infinite;
  opacity: 0.43;
  height: 55px;
  width: 55px;
  animation-delay: -4.6s;
  transform: translate3d(55vw, 58vh, 53px);
  background: hsl(6, 0%, 75%);
}

@keyframes particle-animation-24 {
  0% {
    opacity: 1;
    transform: translate3d(83vw, 3vh, 53px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(50vw, 89vh, 77px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 45s infinite;
  opacity: 0.67;
  height: 51px;
  width: 51px;
  animation-delay: -4.8s;
  transform: translate3d(51vw, 73vh, 24px);
  background: hsl(301, 0%, 75%);
}

@keyframes particle-animation-25 {
  0% {
    opacity: 1;
    transform: translate3d(2vw, 59vh, 46px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(27vw, 31vh, 98px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 45s infinite;
  opacity: 0.17;
  height: 52px;
  width: 52px;
  animation-delay: -5s;
  transform: translate3d(64vw, 81vh, 81px);
  background: hsl(327, 0%, 75%);
}

@keyframes particle-animation-26 {
  0% {
    opacity: 1;
    transform: translate3d(41vw, 63vh, 50px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(8vw, 42vh, 73px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 45s infinite;
  opacity: 0.41;
  height: 51px;
  width: 51px;
  animation-delay: -5.2s;
  transform: translate3d(21vw, 38vh, 51px);
  background: hsl(288, 0%, 75%);
}

@keyframes particle-animation-27 {
  0% {
    opacity: 1;
    transform: translate3d(43vw, 12vh, 13px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(21vw, 79vh, 41px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 45s infinite;
  opacity: 0.67;
  height: 55px;
  width: 55px;
  animation-delay: -5.4s;
  transform: translate3d(92vw, 66vh, 23px);
  background: hsl(162, 0%, 75%);
}

@keyframes particle-animation-28 {
  0% {
    opacity: 1;
    transform: translate3d(9vw, 13vh, 61px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(17vw, 100vh, 82px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 45s infinite;
  opacity: 0.66;
  height: 54px;
  width: 54px;
  animation-delay: -5.6s;
  transform: translate3d(94vw, 6vh, 87px);
  background: hsl(203, 0%, 75%);
}

@keyframes particle-animation-29 {
  0% {
    opacity: 1;
    transform: translate3d(30vw, 18vh, 54px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(79vw, 5vh, 72px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 45s infinite;
  opacity: 0.39;
  height: 53px;
  width: 53px;
  animation-delay: -5.8s;
  transform: translate3d(34vw, 91vh, 65px);
  background: hsl(70, 0%, 75%);
}

@keyframes particle-animation-30 {
  0% {
    opacity: 1;
    transform: translate3d(75vw, 12vh, 48px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(32vw, 17vh, 34px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 45s infinite;
  opacity: 0.79;
  height: 54px;
  width: 54px;
  animation-delay: -6s;
  transform: translate3d(19vw, 36vh, 45px);
  background: hsl(235, 0%, 75%);
}

/*# sourceMappingURL=styles.css.map */
